body {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Segoe UI';
    font-size: 10pt;
    font-weight: 400;
}


h1 {
    font-family: 'Segoe UI';
    font-size: 32pt;
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
}

#main-wrap {
    display: flex;
    flex-direction: column;
}

#container-forms {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: block;
}

#dates,
#persons {
    width: 200px;
    height: 120px;

}

input {
    width: 80%;
    height: 25px;
    padding: 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
}

select {
    width: calc(80% + 4px);
    height: 27px;
    padding: 1px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
}

#forms span {
    font-family: 'Segoe UI';
    font-size: 11pt;
    font-weight: 600;
    padding: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
}

.button {
    border-radius: 5px;
    padding: 15px 0;
    width: 200px;
}

#result {
    width: 100%;
    border-radius: 5px;
    margin-right: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

button {
    background-color: #4eba34;
    color: #eafced;
    border: none;
    width: 164px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI';
    font-size: 12pt;
    font-weight: 600;
}

#reset {
    background-color: #f53a3a;
}

button:hover {
    cursor: pointer;
}

button,
button:active,
button:focus {
    outline: none;
}

@media all and (orientation: portrait) {
    body {
        left: auto;
        right: auto;
        top: 0;
        transform: none;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI';
    }

    #container {
        width: 100vw;
    }

    #main-wrap {
        width: 100vw;
    }

    #container-forms {
        width: 100vw;
        height: 60vh;
    }

    #dates,
    #persons {
        width: 100vw;
        height: auto;
    }

    #forms {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 15vw;
        font-weight: 600;
        padding: 0 20px;
    }

    #buttons {
        width: 100vw;
        height: 25vh;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        width: 80%;
        height: 7vh;
        font-size: 6vw;
    }

    #forms span {
        font-size: 5vw;
        padding: 10px 15px;
        font-family: 'Segoe UI';
    }

    input {
        width: 92vw;
        height: 5vh;
        border: 3px solid #3f6af7;
        font-size: 5vw;
        margin: 0 2vw;
        font-family: 'Segoe UI';
        padding: 0 2vw;
    }

    select {
        width: 96vw;
        height: 5vh;
        border: 3px solid #ffa223;
        font-size: 5vw;
        margin: 0 2vw;
        font-family: 'Segoe UI';
        padding: 0 2vw;
    }

    #title {
        height: 15vh;
        display: flex;
        align-items: center;
    }
    
    option {
        font-size: 30%;
    }
}
