body {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Segoe UI';
    font-size: 10pt;
    font-weight: 400;
}

@media all and (orientation: portrait) {
    body {
        left: auto;
        right: auto;
        top: 50px;
        transform: none;
        width: 90%;
        font-size: 24pt;
    }

    #container {
        width: 100%;
    }

    #main-wrap {
        width: 100%;
    }

    #dates,
    #persons {
        width: 100%!important;
    }
    
    #forms {
        flex-direction: column;
    }
}

h1 {
    font-family: 'Segoe UI';
    font-size: 32pt;
    font-weight: 600;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    display: flex;
}

#main-wrap {
    display: flex;
    flex-direction: column;
}

#container-forms {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

#forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    display: block;
}

#dates,
#persons {
    width: 200px;
    height: 120px;

}

input {
    width: 80%;
    height: 25px;
    padding: 0;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    font-family: 'Segoe UI';
}

select {
    width: calc(80% + 4px);
    height: 27px;
    padding: 1px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
}

#forms span {
    font-family: 'Segoe UI';
    font-size: 11pt;
    font-weight: 600;
    padding: 5px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 400px;
}

.button {
    border-radius: 5px;
    padding: 15px 0;
    width: 200px;
}

#result {
    width: 100%;
    border-radius: 5px;
    margin-right: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

button {
    background-color: #4eba34;
    color: #eafced;
    border: none;
    width: 164px;
    height: 30px;
    border-radius: 5px;
    font-family: 'Segoe UI';
    font-size: 12pt;
    font-weight: 600;
}

#reset {
    background-color: #f53a3a;
}

button:hover {
    cursor: pointer;
}

button,
button:active,
button:focus {
    outline: none;
}
